<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Unum</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Unum">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">

        <link rel="shortcut icon" href="favicon.png">

        <link href="//www.google-analytics.com" rel="dns-prefetch">
        <link href="//ajax.googleapis.com" rel="dns-prefetch">
        
        <link href="/css/components.min.css" rel="stylesheet">
        <link href="/css/style.min.css" rel="stylesheet">
        
        <script src="/js/components.min.js"></script>
    </head>
    <body>
        <section id="loading">
            <img src="/images/ico-loading.png" class="unum-load img-responsive center-block" alt="">
        </section>

        <script src="/js/script.min.js"></script>
    </body>
</html>
